<footer>
  <div class="footer_content_box">
    <div class="logo_column">
      <div class="footer_logo">
        <img id="3" />
        <h2>autodrone</h2>
      </div>
      <p>Look up the sky and beautiful <span></span> world easily.</p>
    </div>
    <div class="explore_columm column text_style">
      <h3>Explore</h3>
      <ul>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Specification</a></li>
        <li><a href="#">Refund</a></li>
        <li><a href="#">Playlist</a></li>
      </ul>
    </div>
    <div class="account_columm column text_style">
      <h3>Account</h3>
      <ul>
        <li><a href="#">My Account</a></li>
        <li><a href="#">Top Benefit</a></li>
        <li><a href="#">How-to Tutorials</a></li>
        <li><a href="#">Moment</a></li>
      </ul>
    </div>
    <div class="office_columm column text_style">
      <h3>Office</h3>
      <ul>
        <li><a href="#">+021 2208 1996</a></li>
        <li><a href="#">SCBD, Jakarta</a></li>
        <li><a href="#">No.2 (Autodrone)</a></li>
        <li><a href="#">support@autodrone.id</a></li>
      </ul>
    </div>
  </div>
</footer>