<header>
  <div class="background_image">
    <div class="container">
      <nav class="header_nav">
        <ul>

          {{! <li>
            <img src="../assets/images/header_logo.png" alt="not uploaded" />
          </li> }}

          <img id="1" alt="not uploaded" />
          <li><a href="#">HOME</a></li>
          <li><a href="#">GALLERY</a></li>
          <li><a href="#">PRODUCTS</a></li>
          <li><a href="#">REVIEW</a></li>
          <li><a href="#">SUPPORT</a></li>
          <img id="2" alt="not uploaded" />

          {{! <li>
            <img src="../assets/images/header_search.png" alt="not uploaded" />
          </li> }}

        </ul>
      </nav>
      <div class="header_content">
        <h1>Representing Drone Light</h1>
        <p>
          Look up the sky and beautiful world with simple navigation.
          <span></span>
          Just record anmd get a lot memories to share, lighlty and fast like a
          lightning
        </p>
        <a href="#">GET NOW</a>
      </div>
    </div>
  </div>
</header>